.section-articles {
  padding: 8.8rem 0;

  @media (min-width: $bp-desktop) {
    padding: 8rem 0;
  }
}

.articles {
  h2 {
    margin-bottom: 3.2rem;

    @media (min-width: $bp-desktop) {
      margin-bottom: 4rem;
    }
  }

  &__list {
    gap: 2.4rem;

    @media (min-width: $bp-desktop) {
      margin-bottom: 3rem;
    }
  }
}

.article {
  display: grid;
  grid-template-rows: 200px 1fr;
  border-radius: 5px;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__text {
    // text-align: start;
    padding: 2.4rem 3.2rem;

    @media (min-width: $bp-desktop) {
      padding: 2.4rem;
    }

    div,
    a,
    p {
      text-align: start;
    }

    div,
    a {
      margin-bottom: 0.8rem;
    }
  }
}
